@model ML.AlumnoMateria
@{
    ViewBag.Title = "MateriasAsignadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Productos</h2>

<div class="container">
    <div class="row">


        <div class="form-group hidden">


            @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "control-label col-md-2 hidden" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "form-control hidden", @readonly = true })
                @Html.ValidationMessageFor(model => model.Alumno.IdAlumno)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Alumno.Nombre, new { @class = "control-label", @readonly = true })
                @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(model => model.Alumno.Nombre)
            </div>
        </div>


    </div>

</div>

<br />


<br />
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success glyphicon glyphicon-plus " href="@Url.Action("MateriasNoAsignadas", "AlumnoMateria", Model.Alumno)"><i class="bi bi-plus-square"></i></a>
        </div>
    </div>
</div>
<div class="row" style="padding-top:30px">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th class="text-center" scope="col">
                    Eliminar
                </th>
                <th class="text-center " scope="col">
                    IdSucursalProducto
                </th>


                <th class="text-center " scope="col">
                    Nombre de producto
                </th>

            </tr>
            @foreach (ML.AlumnoMateria alumnoMateria in Model.AlumnoMaterias)
            {
                <tr>

                    <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash " href="@Url.Action("Delete", "AlumnoMateria", new { IdAlumnoMatera = alumnoMateria.IdAlumnoMateria})" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"><i class="bi bi-trash3"></i></a></td>

                    <td class="text-center ">
                        @alumnoMateria.IdAlumnoMateria
                    </td>
                    <td class="text-left ">
                        @alumnoMateria.Materia.Nombre
                    </td>

                </tr>
            }
        </table>
    </div>
</div>